<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faithdeveloper.country">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_country"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_country_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Explore">

        <activity
            android:name="com.faithdeveloper.country.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name = "com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5686809006229698~2920811222"/>

    </application>


</manifest>